{% extends 'base.html' %}

{% block title %}
    Регистрация
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Регистрация
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary mb-2">Зарегистрироваться</button>
                            <a href="{% url 'login' %}"><button type="submit" class="btn btn-info">Уже есть профиль?</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}