{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}

{% block body %}

    <div class="container mt-5" style="height: 150px">
        <article class="card mb-4">
            <div class="card-body">
                <h1 class="card-title">{{ post.title }}</h1>
                <p class="card-text">{{ post.body | linebreaks }}</p>
                <h6 class="card-date">{{ post.date_pub }}</h6>
            </div>
        </article>

        <section class="comments-section">
            <h2 class="mt-4 mb-3">Комментарии</h2>
            {% include 'blog/includes/comment_card_template.html' %}
        </section>
    </div>

{% endblock %}